<h1>Listing meetup_events</h1>

<table>
  <tr>
    <th>Identifier</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetup_events.each do |meetup_event| %>
  <tr>
    <td><%= meetup_event.identifier %></td>
    <td><%= meetup_event.description %></td>
    <td><%= link_to 'Show', meetup_event %></td>
    <td><%= link_to 'Edit', edit_meetup_event_path(meetup_event) %></td>
    <td><%= link_to 'Destroy', meetup_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meetup event', new_meetup_event_path %>
