<h1>Listing meetup_events</h1>

<table>
  <tr>
    <th>Identifier</th>
    <th>URL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%
   @meetup_events.each do |meetup_event|
     url = meetup_event.to_url
   %>
  <tr>
    <td><%= meetup_event.identifier %></td>
    <td><%= link_to url, url %></td>
    <td><%= link_to 'Raffle', meetup_event %></td>
    <td><%= link_to 'Edit', edit_meetup_event_path(meetup_event) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meetup event', new_meetup_event_path %>
